<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c9f29d1-99b1-4e2d-ab40-54e178387bd9" Alias="books" Level="1">
  <Info>
    <Name>Books</Name>
    <Icon>icon-book color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Books</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd7e6-5499-7912-a7e7-21b97531e528">Books</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b78649d4-5467-412b-a164-33f01ed715e0" SortOrder="0">bookReview</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>