<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1624e4c-668b-414a-a108-2b62d9427786" Alias="bookStore" Level="1">
  <Info>
    <Name>Book Store</Name>
    <Icon>icon-store color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BookStore</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd7eb-28ab-74a7-a817-f28c4b593b23">BookStore</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>