<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7584b548-c3ac-4f5b-8b4a-e53f0b6ce64b" Alias="classicBooks" Level="1">
  <Info>
    <Name>Classic Books</Name>
    <Icon>icon-book color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ClassicBooks</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd7e9-fcec-74c0-8df5-3077b9b8a354">ClassicBooks</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>