<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5ad78f9-87ed-4a42-936c-c6d0d1ece6b4" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd7de-235a-7a44-88e2-46585b5dd984">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b78649d4-5467-412b-a164-33f01ed715e0" SortOrder="0">bookReview</ContentType>
    <ContentType Key="f1624e4c-668b-414a-a108-2b62d9427786" SortOrder="1">bookStore</ContentType>
    <ContentType Key="3c9f29d1-99b1-4e2d-ab40-54e178387bd9" SortOrder="2">books</ContentType>
    <ContentType Key="7584b548-c3ac-4f5b-8b4a-e53f0b6ce64b" SortOrder="3">classicBooks</ContentType>
    <ContentType Key="765e32b6-90c9-4d73-9470-08942508d235" SortOrder="4">itBooks</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ae494c78-b76f-4742-891a-6212652ec508</Key>
      <Name>Highlighted Books</Name>
      <Alias>highlightedBooks</Alias>
      <Definition>48f9112e-5aa1-4260-b57a-dd3b6a297102</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3ff37eea-4a93-413a-914e-c413ac962e68</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>