<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="765e32b6-90c9-4d73-9470-08942508d235" Alias="itBooks" Level="1">
  <Info>
    <Name>IT Books</Name>
    <Icon>icon-book color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ITBooks</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd7ea-59a0-71b7-822e-29dccf4ff95e">ITBooks</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>