<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48f9112e-5aa1-4260-b57a-dd3b6a297102" Alias="Home - Highlighted Books - Content Picker" Level="1">
  <Info>
    <Name>Home - Highlighted Books - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 5,
  "minNumber": 0
}]]></Config>
</DataType>