@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.Blocks;
@{
    Layout = "Master.cshtml"; 
}

<!-- Header -->
<header id="header">
    <a href="index.html" class="logo"><strong>Umbazing</strong> by Umbraco Training Team</a>
    <ul class="icons">
        <li><a href="https://docs.umbraco.com/" class="icon fas fa-file-alt" target="_blank"><span class="label">Documentation</span></a></li>
        <li><a href="https://marketplace.umbraco.com/" class="icon fas fa-gem" target="_blank"><span class="label">Marketplace</span></a></li>
        <li><a href="https://umbraco.com/blog/" class="icon fas fa-newspaper" target="_blank"><span class="label">Blog</span></a></li>
        <li><a href="https://forum.umbraco.com/" class="icon fas fa-heart" target="_blank"><span class="label">Forum</span></a></li>
    </ul>
</header>
<section>
    <header class="main">
        <h2> 🔍 for 📖</h2>
    </header>
    <div id="search-box-books"></div>
    <div id="book-hits"></div>
</section>
